{% extends "base.html" %}

{% block content %}

    <div class="jumbotron header">
        <div class="row row-md-height">
            <div class="col-md-6 col-md-height col-middle">
            <img class="logo" src="/static/img/dialogando-logo.png">
            </div>
            <div class="header-text col-md-4 col-md-height col-middle">
            Botando a internet na eleição de 2014
            <p/>
            <b>Privacidade, Transparência e Liberdade de Expressão</b>?
            </div>
        </div>
    </div>

    <div class="area-title row">
        <div class="container">
            <div class="col-md-12">
                <h1>O Projeto</h1>
                O Projeto Dialogando traz temas importantes como direito à privacidade, transparência governamental e liberdade de expressão na internet para o debate público das eleições de 2014 no Brasil. Levantando questões específicas sobre esses temas aos candidatos nas eleições majoritárias e proporcionais e divulgando suas respostas neste site, oferecemos material valioso a jornalistas que cobrem as eleições, a eleitores que buscam conhecer as posições de seus candidatos e aos próprios candidatos, que poderão se beneficiar de um debate nacional mais profundo, num país que é a 3ª maior democracia do planeta e que tem a 5ª maior população que usa a internet no mundo.
                <p>
                <h1>Quem Somos</h1>
                O Projeto Dialogando tem o apoio da campanha Web We Want da World Web Foundation, organização criada por Tim Berners-Lee em defesa de uma internet livre e aberta, e está sendo realizado pela Open Knowledge Brasil, organização da sociedade civil que promove a disseminação do conhecimento em todas as suas formas. Heloisa Pait, professora de sociologia da comunicação da UNESP, coordena o projeto, que tem colaboração conceitual de Ruan Sales e técnica de Edgar Zanella. 
                <p>
                <h1>Questões</h1>
                Oferecemos um espaço onde os candidatos nas eleições de 2014 possam expor suas posições, realizações e propostas de atuação executiva e parlamentar para o eleitorado interessado nos temas de privacidade, transparência governamental e liberdade de expressão, especialmente no que diz respeito à internet e a bancos de dados eletrônicos. As questões não contém alternativas “certas” ou “erradas”, e mesmo entre os membros da Rede pelo Conhecimento Livre encontraríamos respostas divergentes; elas oferecem um ponto de partida para que possamos juntos estabelecer um diálogo produtivo e conseqüente.
                <p>
                <h1>Candidatos</h1>
                 Convidamos a participar do Projeto Dialogando os candidatos a presidente e vice-presidente; a senador, primeiro e segundo suplente por São Paulo; a deputado federal por São Paulo; a governador e vice-governador de São Paulo; e a deputado estadual em São Paulo. Organizações que queiram reproduzir esse trabalho em outros estados serão bem vindas! Contamos com a colaboração dos candidatos e suas equipes nesse projeto, e pedimos gentilmente que respondam nossas questões, trazendo relatos de atuação executiva e legislativa, assim como propostas de gestão e políticas públicas e de atuação legislativa que alimentem um rico debate público. 
            </div>
        </div>
    </div>


    <div class="container container-md-height contact-person">
        <div class="row row-md-height">
            <div class="col col-md-12 centered">
                Caro candidato ou candidata, peça o link de acesso à sua página na plataforma escrevendo para <a href="mailto:dialogando@okfn.org.br?Subject=Contato%20Candidato" target="_top">dialogando@okfn.org.br!</a>
                <br>
                A plataforma está disponível para os candidatos de São Paulo e a Presidente da República.  
            </div> 
        </div>
    </div>
{% endblock %}

