{% extends "base.html" %}

{% block content %}

    <div class="jumbotron header">
        <div class="row row-md-height">
            <div class="col-md-6 col-md-height col-middle">
            <img class="logo" src="/static/img/dialogando-logo.png">
            </div>
            <div class="header-text col-md-4 col-md-height col-middle">
            Botando a internet na eleição de 2014
            <p/>
            <b>Privacidade, Transparência e Liberdade de Expressão</b>?
            </div>
        </div>
    </div>

    <div class="area-title row">
        <div class="container">
            <div class="col-md-2">
                <h2>Temas</h2>
            </div>
        </div>
    </div>

    <div class="themes">
        <div class="container container-md-height">
            <div class="row row-md-height">
                <div class="col-md-4 col-md-height theme-1 centered col-top">
                    <h1>Privacidade de dados</h1>
                    <div class="img-logo">
                        <img src="/static/img/01_priv.png">
                    </div>
                </div>
                <div class="col-md-4 col-md-height theme-2 centered col-top">
                    <h1>Transparência governamental</h1>
                    <div class="img-logo">
                        <img src="/static/img/02_trans.png">
                    </div>
                </div>
                <div class="col-md-4 col-md-height theme-3 centered col-top">
                    <h1>Liberdade de expressão</h1>
                    <div class="img-logo">
                        <img src="/static/img/03_lib.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="area-title row">
        <div class="container">
            <div class="col-md-4">
                <h2>Últimas respostas</h2>
            </div>
        </div>
    </div>

    <div class="answers">
        <div class="container container-md-height">
            <div class="row row-md-height">
                {% for random_answer in random_answers %}
                <div class="col-md-4 col-md-height answer answer-{{ loop.index }} centered col-top">
                    <div class="answer-text">
                    <a href="{{ '/respostas/{}/{}'.format(random_answer[1].person_id, random_answer[1].question.id) }}">{{ random_answer[0] }}</a>
                    </div>
                    <div class="answer-person">
                        <div class="person-photo">
                            <img src="/static/img/balao-ponta.png">
                            <br/>
                            <img class="photo" src="/static/img/dialogando-avatar-01.png">
                        </div>
                        <div class="person-name">
                            <h1>{{ random_answer[1].person.urn_name }}</h1>
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container container-md-height contact-person">
        <div class="row row-md-height">
            <div class="col col-md-12 centered">
                Caro candidato ou candidata, peça o link de acesso à sua página na plataforma escrevendo para <a href="mailto:dialogando@okfn.org.br?Subject=Contato%20Candidato" target="_top">dialogando@okfn.org.br!</a>
                <br>
                A plataforma está disponível para os candidatos de São Paulo e a Presidente da República.  
            </div> 
        </div>
    </div>
{% endblock %}

