{% extends "base.html" %}

{% block content %}

    <div class="jumbotron header">
        <div class="row row-md-height">
            <div class="col-md-6 col-md-height col-middle">
            <img class="logo" src="/static/img/dialogando-logo.png">
            </div>
            <div class="header-text col-md-4 col-md-height col-middle">
            Botando a internet na eleição de 2014
            <p/>
            <b>Privacidade, Transparência e Liberdade de Expressão</b>?
            </div>
        </div>
    </div>
    <div class="themes">
        <div class="container">
            <div class="area-title row row-md-height">
                <div class="col-md-4 col-md-height theme-1">
                <h1>I. Privacidade de Dados</h1>
                O avanço da tecnologia de informação permitiu que uma enorme quantidade de dados sobre cidadãos privados seja gerada pelo Estado, por empresas e pelo próprio cidadão todos os dias. Isso nos coloca diante de um dilema: como usar essas informações para o benefício social, sem infringir os direitos do cidadão?
                <p/>
                <h2>1.1. Privacidade e Segurança Pública</h2>
                <p/>
                Como obter informações necessárias à segurança pública sem desrespeitar o direito à privacidade dos cidadãos?
                <p>
                <h2>1.2. Privacidade e Uso de dados</h2>
                <p>
                Como obter dados importantes para o planejamento dos governos e das empresas, respeitando o direito à privacidade do cidadão?
                <h2>1.3. Privacidade e Globalização</h2>
                <p/>
                O que fazer para que o governo brasileiro e governos estrangeiros respeitem a privacidade dos cidadãos brasileiros e residentes no Brasil?
                <p/>
                </div>
                <div class="col-md-4 col-md-height theme-2">
                <h1>II. Transparência Governamental</h1>
                Uma boa gestão pública exige uma enorme quantidade de informações. Uma gestão pública democrática exige que os cidadãos tenham acesso a essas informações, para que eles possam propor, fiscalizar, avaliar e mesmo colaborar com políticas públicas dos governantes eleitos. Como tornar verdadeiramente acessível essa pletora de informações sem comprometer a ação pública?
                <p/>
                <h2>2.1. Transparência e Eficiência</h2>
                <p/>
                Como obter transparência governamental de modo eficiente e produtivo?
                <p/>
                <h2>2.2. Transparência e Segurança Nacional</h2>
                <p/>
                Como preservar segredos de Estado importantes à segurança nacional sem comprometer a transparência governamental?
                <p/>
                <h2>2.3. Participação Política</h2>
                <p/>
                De que modo os novos meios de comunicação podem mudar a representação política no Brasil?
                <p/>
                </div>
                <div class="col-md-4 col-md-height theme-3">
                <h1>III. Liberdade de Expressão</h1>
                <p/>
                A liberdade de expressão é um dos pilares da vida humana, enriquecendo as artes, aprimorando a política e dando graça ao convívio social. Manter a liberdade de expressão numa sociedade complexa, com interesses e visões de mundo plurais, é um desafio permanente, seja no Brasil ou em outros países.
                <p/>
                <h2>2.1. Jornalistas e Blogueiros</h2>
                <p/>
                Como garantir que jornalistas e blogueiros possam exercer livremente sua profissão?
                <p/>
                <h2>2.2. Marcos Regulatórios</h2>
                <p/>
                Que tipo de regulamentação é necessária na comunicação?
                <p/>
                <h2>1.3. Dignidade e Expressão</h2> 
                <p/>
                Como garantir a dignidade dos cidadãos sem cercear a liberdade de expressão?
                </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container container-md-height contact-person">
        <div class="row row-md-height">
            <div class="col col-md-12 centered">
                Caro candidato ou candidata, peça o link de acesso à sua página na plataforma escrevendo para <a href="mailto:dialogando@okfn.org.br?Subject=Contato%20Candidato" target="_top">dialogando@okfn.org.br!</a>
                <br>
                A plataforma está disponível para os candidatos de São Paulo e a Presidente da República.  
            </div> 
        </div>
    </div>
{% endblock %}

