body {
    background-color: #EFE8CB;
}

.logo {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: #1F7F66;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand:hover, .navbar-brand:visited {
    color: #EFE8CB;
}

.nav.navbar-nav.navbar-default > li > a {
    color: #EFE8CB;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 18px;
    background-color: #1F7F66;
}

.nav.navbar-nav.navbar-default > li.active > a {
    color: #1F7F66;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 18px;
    background-color: #EFE8CB;
}


.nav.navbar-nav.navbar-default > li > a:hover, a:visited, a:active {
    background-color: #295F51;
    color: #EFE8CB;
}

.nav.navbar-nav.navbar-default {
    display: inline-block;
    color: #EFE8CB;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.jumbotron.header {
    background-color: #1F8A70;
    margin-bottom: 0;
}

.jumbotron.main {
    background-color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.cont-row {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.themes {
    background-color: #FFD34E;
}

.person {
    background-color: #91AA9D;
}

.person-1, .person-2, .person-3 {
    background-color: #BDCCC4;
}

.row h1.person-box-name {
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
}

.contact-person {
    font-size: 20px;
    padding: 30px;
}

.answers {
    background-color: #DB9E36;
}

.cont-row div.row {
}

.row h1 {
    color: #175C63;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

div.area-title.row {
    padding-left: 30px;
}

.area-title.row h2 {
    color: #175C63;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #175C63;
    display: inline-block;
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.theme-1 {
    background-color: #FFE083;
    padding-bottom:20px;
}

.theme-2 {
    background-color: #FFE595;
}

.theme-3 {
    background-color: #FFE083;
}

.answer-1 {
    background-color: #E6BB73;
}

.answer-2 {
    background-color: #E9C586;
}

.answer-3 {
    background-color: #E6BB73;
}

.person-answer-1 {
    background-color: #FFFAD5;
}

.person-answer-2 {
    background-color: #E9C586;
}

.person-answer-3 {
    background-color: #E6BB73;
}
.person-answers {
    background-color: #DB9E36;
}

.person-answers h2 {
    color: #23656B;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.person-3 {
    padding-top: 30px;
}

.person-3 ul {
    list-style-type: none;
}

.person-3 ul li {
    padding: 5px 0;
}

.person-data  {
    font-size: 16px;
}

.img-logo {
    margin-top: 20px;
    text-align: center;
}

.jumbotron.footer {
    background-color: #EFE8CB;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 20px;
}

.jumbotron.footer a, a:hover, a:visited {
    color: #444;
}

.jumbotron.attribution {
    background-color: #EFE8CB;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

.jumbotron.wait {
    background-color: #FFD34E;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    color: #474744;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px rgba(68, 68, 68, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header-text {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    color: #EFE8CB;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* fix firefox responsive images */
.img-responsive {
    width: 100%
}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

.answer {
    padding-top: 20px;
}

.answer-text {
    background-color:#FAF1E3;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px 10px;
    color: #105B63;
    font-size: 16px;
}

.answer-person {
}

.answer-person div {
    float: left;
}

.person-photo {
    width: 85px;
    margin: 0;
    padding-top: 0;
    text-align: center;
}

.person-photo img {
    vertical-align: top;
}


.person-photo img.photo {
    padding-top: 10px;
}

.person-name {
    padding: 20px;
}

.person-answer-text h2 {
    font-family: "Dosis",sans-serif;
    font-size: 28px;
    text-shadow: 1px 1px rgba(68, 68, 68, 0.3);
}

.theme-text {
    color: #307072;
    font-size: 16px;
    padding: 10px 10px; 
}

.theme-row {
    background-color: #FFFAD5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.question-row {
    background-color: #DEE6CE;
    padding-top: 10px;
    padding-bottom: 10px;
}

.answer-row {
    background-color: #D1DBBD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subtheme {
    color: #105B63;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
}

.subtheme.selected {
    background-color: #DB9E36;
    color: white;
}

.question-text {
    font-size: 16px;
}

.dissertative-answers {
    font-size: 16px;
}

.person-page-photo {
    padding: 20px;
}

.dissertative-answer {
    background-color:#FAF1E3;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px 10px;
    color: #105B63;
    font-size: 20px;
}

.no-answer {
    font-size: 20px;
}

.alternative {
    padding: 20px 30px;
    line-height: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 18px;
    width:40%;
}

#alternatives {
    margin: auto;
    color: white;
}

#alternative_a {
    float: left;
    background-color: #2C65B7;
}

#alternative_b {
    float: right;
    background-color: #AB25BA;
}

#alternatives_buttons {
    margin: auto;
    width: 35%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.alt_button {
    text-align: center;
    width: 17%;
    float: left;
    color: white;
    font-size: 20px;
}

.alt_button h3 {
    font-size: 20px;
    line-height: 10px;
}

.alt1 {
    background-color: #2C65B7;
}

.alt2 {
    background-color: #323F9E;
}
.alt3 {
    background-color: #4C407A;
}
.alt4 {
    background-color: #833493;
}
.alt5 {
    background-color: #AB25BA;
}

.selected-alternative {
    font-weight: bold;
    font-size: 18px;
}

